[Unit]
Description=Allow reading power usage on Intel CPUs
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/chmod o+r /sys/class/powercap/intel-rapl:0/energy_uj
ExecStop=/usr/bin/chmod o-r /sys/class/powercap/intel-rapl:0/energy_uj

[Install]
WantedBy=multi-user.target
