[Unit]
Description=Sync Google Drive online with rclone
After=network-online.target rclone-gdrive.service
Wants=network-online.target rclone-gdrive.service

[Service]
Type=oneshot
ExecStartPre=notify-send \
    -u normal \
    -a "Google Drive (rclone)" \
    "Syncronization for Google Drive has started."
ExecStartPost=notify-send \
    -u normal \
    -a "Google Drive (rclone)" \
    "Syncronization for Google Drive has ended."
ExecStart=/usr/bin/rclone bisync gdrive: %h/GoogleDrive \
    --fast-list \
    --drive-chunk-size 64M \
    --transfers=8 \
    --checkers=16 \
    --log-file=%h/.cache/rclone-gdrive-sync.log \
    --log-level=INFO
