[Unit]
Description=Sync Google Drive every 15 minutes

[Timer]
OnBootSec=10m
OnUnitActiveSec=15m
Persistent=true
Unit=rclone-gdrive.service

[Install]
WantedBy=timers.target
