[Unit]
Description=Sync OneDrive online using rclone
After=network-online.target rclone-onedrive.service
Wants=network-online.target rclone-onedrive.service

[Service]
Type=oneshot
ExecStartPre=notify-send \
    -u low \
    -a "OneDrive" \
    "Syncronization for OneDrive has started."
ExecStartPost=notify-send \
    -u low \
    -a "OneDrive" \
    "Syncronization for OneDrive ended."
ExecStart=/usr/bin/rclone bisync onedrive: %h/OneDrive \
    -MvP \
    --create-empty-src-dirs \
    --compare size,modtime,checksum \
    --filters-file %h/.config/systemd/user/rclone-onedrive.filter.txt \
    --conflict-resolve newer \
    --conflict-loser delete \
    --conflict-suffix sync-conflict-{DateOnly}- \
    --suffix-keep-extension \
    --resilient \
    --recover \
    --no-slow-hash \
    --fix-case \
    --fast-list \
    --drive-chunk-size 64M \
    --transfers=8 \
    --checkers=16 \
    --exclude "/Personal Vault/**" \
    --resync
